@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .contact-form {
  margin-top: 20px;
}

.contact-form .field {
  margin-bottom: 15px;
}

.contact-form .actions {
  margin-top: 10px;
} */