<!-- app/views/home/index.html.erb -->
<h1>Welcome to Pretty-faceHub</h1>
<p>Your one-stop shop for all your makeup needs.</p>
<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <h2><%= link_to product.name, product_path(product) %></h2>
      <% if product.image.attached? %>
        <%= image_tag product.image, alt: product.name %>
      <% else %>
        <p>No image available</p>
      <% end %>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price) %></p>
    </li>
  <% end %>
</ul>
