<h1><%= @planet.name %></h1>
<p>Diameter: <%= @planet.diameter %></p>
<p>Population: <%= @planet.population %></p>
<div class="mt-8">
  <a href="javascript:history.back()" class="text-blue-500 hover:underline text-lg">Go Back</a>
  </div>