<h1>About the StarWarsUniverse API</h1>
<p>This application uses data from the Star Wars API (SWAPI) and Faker gem to populate its database with information about the Star Wars universe. Below are the endpoints used and their corresponding models:</p>

<%= simple_format @about_api_description %>
