<h1>Species</h1>
<ul>
  <% @species.each do |specie| %>
    <li><%= link_to specie.name, species_path(specie) %></li>
  <% end %>
</ul>
<div class="mt-8">
    <%= link_to ' Main Page', root_path, class: "text-blue-500 hover:underline text-lg" %>
  </div>