<h1><%= @starship.name %></h1>
<p>Model: <%= @starship.model %></p>
<p>Manufacturer: <%= @starship.manufacturer %></p>
<a href="javascript:history.back()" class="text-blue-500 hover:underline text-lg">Go Back</a>
  </div>