<h1><%= @starship.name %></h1>
<p>Model: <%= @starship.model %></p>
<p>Manufacturer: <%= @starship.manufacturer %></p>
<%= link_to ' Main Page', root_path, class: "text-blue-500 hover:underline text-lg" %>
  </div>