<h1>Planets</h1>
<ul>
  <% @planets.each do |planet| %>
    <li><%= link_to planet.name, planet_path(planet) %></li>
  <% end %>
</ul>
<div class="mt-8">
    <%= link_to 'Back to Main Page', root_path, class: "text-blue-500 hover:underline text-lg" %>
  </div>