<!-- app/views/checkout/success.html.erb -->
<div class="container box">
  <h1 class="title">Order Confirmation</h1>
  <p>Your order has been placed successfully.</p>
  <%= link_to 'Continue Shopping', products_path, class: 'button is-link' %>
</div>
